body {
  background-color: #FFE9C8;
  padding:15%;
  border:2px solid #743200;
  border-radius: 15px;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.header {
  border: 2px solid #743200;
  border-radius: 15px;
  padding-left: 10px;
  background-color: #FFF3E1;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");

}

.profile {
  background-color: #FFF3E1;
  border-left: 2px solid #743200;
  border-right: 2px solid #743200;
  padding-left: 5px;
  padding-right: 5px;
}

.title {
  text-align: center;
  border: 2px solid #743200;
  border-radius: 15px;
  background-color: #FFF3E1;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");

}

.programs {
  background-color: #FFF3E1;
  border-left: 2px solid #743200;
  border-right: 2px solid #743200;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
}

img {
  width:15px;
}

.work {
  background-color: #FFF3E1;
  border-left: 2px solid #743200;
  border-right: 2px solid #743200;
  padding-left: 5px;
  padding-right: 25px;
  margin-top: 15px;
}

.degrees {
  background-color: #FFF3E1;
  border-left: 2px solid #743200;
  border-right: 2px solid #743200;
  padding-left: 5px;
  margin-top: 15px;
}
